.cart-icon-container{
    position: relative;
    cursor: pointer;
    .shopping-bag{
        width: 35px;
        height: 35px;
    }
    .item-count{
        position: absolute;
        right: 10px;
        top: 19px;
        font-size: x-small;
        font-weight: bolder;
    }
}