.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 45px;
    margin-top: 20px;
}
.category-title{
    text-align: center;
    font-size: 38px;
}