.cart-dropdown-container{
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 225px;
    display: flex;
    flex-direction: column;
    .cart-list{
        height: 250px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
}