$main-color: black;
$sub-color: grey;
@mixin shrinkLabel{
    top: 10px;
    color: $main-color;
    font-size: 12px;
}
.group{
    border-bottom: 1px solid gray;
    padding: 25px 5px 5px 5px;
    position: relative;
    .form-input{
        z-index: -1;
        border: none;
        padding: 5px;
        font-size: 16px;
        font-weight: 100;
        color: $sub-color;
        &:focus{
            outline: none;
            & ~.form-input-label{
                @include shrinkLabel();
            }
        }
    }
    .form-input-label{
        position: absolute;
        left: 9px;
    }
    .shrink{
        // position: absolute;
        @include shrinkLabel()
    }
}